/* Root colors */
/* use with var(--color); included in base.html*/

:root {
    --primaryColor: #1b7cc2;
    --primaryColorLight:  #2689cc;
    --primaryColorLighte:#3795d5;
    --primaryColorLighter:#4fa2de;
    --primaryColorTransparent: rgba(27, 124, 194, 0.9);
    --primaryColorTransparenter: rgba(27, 124, 194, 0.7);
    --secondaryColor: #fff;
    --secondaryColorDarker: #eaeaea;
    --textColorLight: #fff;
    --textColorLightish: #eaeaea;
    --textColorDark: #000;
    --textColorDarkish: #202020;
    --textColorMedium: #606060;
    --helpText: #888;
    --helpTextLighter: rgb(199, 199, 199);
    --linkColorDark: #3a80c3;
    --linkColorDarkHover: #26547f;
    --linkColorLight: rgb(255, 187, 0);
    --linkColorLightHover: rgb(224, 169, 16);
    --warning: rgb(216, 153, 146);
    --warning-darker: rgb(213, 91, 78);
    --navClickHighlight: rgba(255, 255, 255, 0.25);
    --navHoverHighlight: rgba(255, 255, 255, 0.15);
    --defaultPadding: 20px;
    --defaultRadius: 5px;
}
